body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);

}

.image-container{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.7s ;
}

.image-container span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    transform:rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.image-container span img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    /* box-shadow: 0px 150px 30px  rgba(0, 0, 0, 0.5); */

}

.btn-container{
    position: relative;
    width: 80%;
    padding:50vp;
    
}

.btn{
    position: absolute;
    bottom: -120px;
    background-color: rgb(239, 2, 10);
    color: white;
    border: 1px solid black;
    padding:15px 30px;
    font-size: 15px; 
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;

}

.btn:hover{
    filter: brightness(1.5);
}


#Prev{
    left: 20%;
}

#Next{
    right: 20%;
}

